arrow
gitpython
ipykernel
ipython
jsonschema
jupyter
jupyter_lsp
jupyter_client
jupyter_console
jupyter_core
jupyter_events
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_server
librosa
matplotlib
multiprocessing
nbclient
nbformat
notebook
numpy
pandas
pillow
pip
pretty_midi
pyarrow
pytest
torch
regex
requests
scikit-learn
scipy
setuptools
tokenizers
torchvision
transformers